@model moment3_2.Models.User

@{
    ViewData["Title"] = "Startsida - Låna CD";
}

<h1>Radera lån av CD</h1>

<h3>Är du säker på att du vill radera lånet av CD-skivan?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BorrowingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CD.Title)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UserId" />
        <input type="submit" value="Radera" class="btn btn-danger" /> |
        <a asp-action="Index">Tillbaka till lån av CD-skivorna</a>
    </form>
</div>
