@model IEnumerable<moment3_2.Models.User>

@{
    ViewData["Title"] = "Startsida - Låna CD";
}

<h1>Låna CD</h1>

<p class="addBtnP">
    <a asp-action="Create" class="addBtn">Låna en CD-skiva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CD)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CD.Title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserId">Ändra</a> |
                <a asp-action="Details" asp-route-id="@item.UserId">Detaljer</a> |
                <a asp-action="Delete" asp-route-id="@item.UserId">Radera</a>
            </td>
        </tr>
}
    </tbody>
</table>
