@model IEnumerable<moment3_2.Models.CD>

@{
    ViewData["Title"] = "Startsida - CD";
}

<h1>CD-skivor</h1>

<p class="addBtnP">
    <a asp-action="Create" class="addBtn">Lägg till en CD-skiva</a>
</p>

@using (Html.BeginForm())
{
    <p>
        Sök efter en CD-skiva baserat på titel: @Html.TextBox("SearchString") <input type="submit" value="Sök" id="searchBtn" />
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecordCompany)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SongsAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artist)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecordCompany)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SongsAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Artist.ArtistName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CDId">Ändra</a> |
                    <a asp-action="Details" asp-route-id="@item.CDId">Detaljer</a> |
                    <a asp-action="Delete" asp-route-id="@item.CDId">Radera</a>
                </td>
            </tr>
        }
    </tbody>
</table>
